@model HealthcareMini.Models.Entitys.HealthCareCenter

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HealthCareCenter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label"></label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-check-input" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContactDetails" class="control-label"></label>
                <input asp-for="ContactDetails" class="form-control" />
                <span asp-validation-for="ContactDetails" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AddressDetails" class="control-label"></label>
                <input asp-for="AddressDetails" class="form-control" />
                <span asp-validation-for="AddressDetails" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Doctors" class="control-label"></label>
                <input asp-for="Doctors" class="form-control" />
                <span asp-validation-for="Doctors" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Receptionists" class="control-label"></label>
                <input asp-for="Receptionists" class="form-control" />
                <span asp-validation-for="Receptionists" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Staff" class="control-label"></label>
                <input asp-for="Staff" class="form-control" />
                <span asp-validation-for="Staff" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Appointments" class="control-label"></label>
                <input asp-for="Appointments" class="form-control" />
                <span asp-validation-for="Appointments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
